<div id="AchievementsWidget">
    <div class="Title">
        Achievements
        </div>



    <table>
        <tr class="tableTopHeader">
            <td>Land:</td>
            <td>Achievement 1:</td>
            <td>Achievement 2:</td>
            <td>Achievement 3:</td>
        </tr>
        <tr class="tableTopHeader">
            <td></td>
            <td><img src="/Content/a1.jpg"/></td>
            <td><img src="/Content/a2.jpg" /></td>
            <td><img src="/Content/a3.jpg" /></td>
        </tr>
        <tr ng-repeat="C in GetAchievements()">
            <td>
                {{C.Country}}            
            </td>
            <td>
                {{C.A1}}
            </td>
            <td>                
                {{C.A2}}
            </td>
            <td>                
                {{C.A3}}
            </td>

        </tr>

    </table>



</div>
