<div id="FriendlistWidget">
    <div class="Title">
        Vriendenlijst
    </div>

    <div class="WidgetBody">
        
        
        <table>
            <tr class="tableTopHeader">
                <td style="background-color:#f1f1f1">Naam:</td>
                <td style="background-color:#f1f1f1">Managerpunten:</td>
            </tr>
            <tr ng-repeat="F in Friends">
                <td ng-if="$odd" style="background-color:#f1f1f1">
                    {{ F.name }}
                </td>
                <td ng-if="$even">
                    {{ F.name }}
                </td>
                <td ng-if="$odd" style="background-color:#f1f1f1">
                    {{ F.mnpt }}
                </td>
                <td ng-if="$even">
                    {{ F.mnpt }}
                </td>

            </tr>
           
        </table>



    
    
    </div>

</div>
